<% include partials/header.ejs %>

<div class="uk-margin"></div>
<h3>Received request</h3>

  <%  Object.keys(dataIn).forEach(function (k) { %>
      <code>
        <%= k + " - " + dataIn[k] %>
      </code><br>
  <%}); %>

<p>local concatenate macData string</p>
<pre><%= macData %></pre>

<p>pubKey</p>
<pre><%= pubKey %></pre>

<% if (vResult == true) { %>
    <div class="uk-alert uk-alert-success uk-box-shadow-small"><p>Verify result: <%= vResult %></p></div>
    <% } else { %>
    <div class="uk-alert uk-alert-danger my-shadow1"><p>Verify result: <%= vResult %></p></div>
<% } %>

<a href="/4006app/outgoing" class="uk-button uk-button-primary my-shadow1">Out page</a>







<% include partials/footer.ejs %>