<% include partials/header.ejs %>

<div class="uk-margin"></div>
<h3>Received request</h3>

<% /* %>
  <%  Object.keys(dataIn).forEach(function (k) { %>
      <code>
        <%= k + " - " + dataIn[k] %>
      </code><br>
  <%}); %>

<% */ %>

<p>macData</p>
<pre><%= macData %></pre>

<% /* %>
<p>pubKey</p>
<pre><%= pubKey %></pre>
<% */ %>

<% if (vResult == true) { %>
    <div class="uk-alert uk-alert-success"><p>Verify result: <%= vResult %></p></div>
    <% } else { %>
    <div class="uk-alert uk-alert-danger"><p>Verify result: <%= vResult %></p></div>
<% } %>


<form method="POST" action="/4006app/outgoing" class="uk-form-horizontal">

    <div class="uk-form-row uk-margin-small">
    <label class="uk-form-label" for="VK_SERVICE">VK_SERVICE: </label>
        <input type="text" id="VK_SERVICE" name="VK_SERVICE" value="3006" readonly class="uk-input uk-form-width-small uk-form-small">
    </div>

    <div class="uk-form-row uk-margin-small">
    <label class="uk-form-label" for="VK_VERSION">VK_VERSION: </label>
        <input type="text" id="VK_VERSION" name="VK_VERSION" value="008" readonly class="uk-input uk-form-width-small uk-form-small uk-form-small">
    </div>

    <div class="uk-form-row uk-margin-small">
    <label class="uk-form-label" for="VK_SND_ID">VK_SND_ID: </label>
        <input type="text" id="VK_SND_ID" name="VK_SND_ID" value="TEST" readonly class="uk-input uk-form-width-small uk-form-small">
    </div>

    <div class="uk-form-row uk-margin-small">
    <label class="uk-form-label" for="VK_REC_ID">VK_REC_ID: </label>
        <input type="text" id="VK_REC_ID" name="VK_REC_ID" value="ACSNETS" readonly class="uk-input uk-form-width-small uk-form-small">
    </div>

    <div class="uk-form-row uk-margin-small">
    <label class="uk-form-label" for="VK_NONCE">VK_NONCE: </label>
        <input type="text" id="VK_NONCE" name="VK_NONCE" value="<%= vk_nonce %>" readonly class="uk-input uk-form-width-large uk-form-small">
    </div>

    <div class="uk-form-row uk-margin-small">
    <label class="uk-form-label" for="VK_DATE">VK_DATE: </label>
        <input type="text" id="VK_DATE" name="VK_DATE" value="<%= date %>" readonly class="uk-input uk-form-width-small uk-form-small">
    </div>

    <div class="uk-form-row uk-margin-small">
    <label class="uk-form-label" for="VK_TIME">VK_TIME: </label>
        <input type="text" id="VK_TIME" name="VK_TIME" value="<%= time %>" readonly class="uk-input uk-form-width-small uk-form-small">
    </div>

    <div class="uk-form-row uk-margin-small">
    <label class="uk-form-label" for="VK_USER_ID">VK_USER_ID: </label>
        <input type="text" id="VK_USER_ID" name="VK_USER_ID" value="<%= vk_userId %>" readonly class="uk-input uk-form-width-small uk-form-small">
    </div>

    <div class="uk-form-row uk-margin-small">
    <label class="uk-form-label" for="3D_ENROLL">3D_ENROLL: </label>
        <input type="text" id="3D_ENROLL" name="3D_ENROLL" value="Y" readonly class="uk-input uk-form-width-small uk-form-small">
    </div>

    <div class="uk-form-row uk-margin-small">
    <label class="uk-form-label" for="3D_CAVV">3D_CAVV: </label>
        <input type="text" id="3D_CAVV" name="3D_CAVV" value="" readonly class="uk-input uk-form-width-small uk-form-small">
    </div>

    <div class="uk-form-row uk-margin-small">
    <label class="uk-form-label" for="3D_TXSTATUS">3D_TXSTATUS: </label>
        <select id="3D_TXSTATUS" name="3D_TXSTATUS" value="Y" class="uk-select uk-form-width-xsmall uk-form-small">
            <option value="Y">Y</option>
            <option value="N">N</option>
            <option value="U">U</option>
            <option value="A">A</option>
        </select>
    </div>

    <div class="uk-form-row uk-margin-small">
    <label class="uk-form-label" for="VK_RESP">VK_RESP: </label>
        <select id="VK_RESP" name="VK_RESP" value="Y" class="uk-select uk-form-width-xsmall uk-form-small">
            <option value="Y">Y</option>
            <option value="N">F</option>
            <option value="U">E</option>
            <option value="A">S</option>
        </select>
    </div>

    <div class="uk-form-row uk-margin-small">
    <label class="uk-form-label" for="3D_ECI">3D_ECI: </label>
        <input type="text" id="3D_ECI" name="3D_ECI" value="" readonly class="uk-input uk-form-width-small uk-form-small">
    </div>

    <div class="uk-form-row uk-margin-small">
    <label class="uk-form-label" for="3D_CAVV_ALG">3D_CAVV_ALG: </label>
        <input type="text" id="3D_CAVV_ALG" name="3D_CAVV_ALG" value="" readonly class="uk-input uk-form-width-small uk-form-small">
    </div>

    <div class="uk-form-row uk-margin-small">
    <label class="uk-form-label" for="3D_ERROR_CODE">3D_ERROR_CODE: </label>
        <input type="text" id="3D_ERROR_CODE" name="3D_ERROR_CODE" value="0000"  class="uk-input uk-form-width-small uk-form-small">
    </div>

    <div class="uk-form-row uk-margin-small">
    <label class="uk-form-label" for="VK_CHARSET">VK_CHARSET: </label>
        <input type="text" id="VK_CHARSET" name="VK_CHARSET" value="UTF-8" readonly class="uk-input uk-form-width-small uk-form-small">
    </div>

































































































































































































































































































































































































































































































    <div class"uk-form-row uk-margin-small">
        <button class="uk-button uk-button-primary">Send 3006</button>
    </div>
</form>








<% include partials/footer.ejs %>